:root {
  --text-global: #e5e5e5;
  --text-span: #c4c4c4;
  --text-a-tag: #72b6c7;
  --bg-color: #23272f;
  --comment-bg-color: #23272f;
  --gr: #19386c;
  --bg-code-tag: rgb(40, 44, 52);
  /* --bg-code-tag: #2d2d2d; */
  --cool-gray-700: #374151;
}

html, body, div, aside, nav, p, header, footer, ul {
  color: var(--text-global)!important;
  background-color: var(--bg-color)!important;
}

h1, h2, h3, h4, h5, h6, li, strong, icon, button {
  color: var(--text-global)!important;
}

span {
  color: var(--text-span)!important;
}

a {
  color: var(--text-a-tag)!important;
  background-color: var(--comment-bg-color);
}

pre {
  background-color: var(--bg-code-tag)!important;
  color: var(--text-global)!important;
  border-radius: 8px;
  border: none;
  padding: 15px;
}

code {
  color: var(--text-global)!important;
  background-color: var(--bg-code-tag)!important;
}

blockquote, section {
  background-color: var(--bg-color)!important;
}

table {
  color: var(--text-global)!important;
  background-color: var(--bg-color)!important;
}

tbody th, tbody td, tbody tr  {
  background-color: var(--bg-color)!important;
  color: var(--text-global)!important;
}
